$colors:(
        "white":#F0F1F1,
        "gold":#5E5322,
        "yellow":#FAD648,
        "grey":#737373,
        "darkgrey":#3C3C3C,
);

$white: #F0F1F1;
$grey: #737373;
$darkgrey: #3C3C3C;
$yellow: #FAD648