@import "../../SCSS/settings/colors";
@import "../../SCSS/settings/fonts";
@import "../../SCSS/settings/mixins";

nav {
  display: flex;
  flex-direction: column;
  height: 8rem;

  .login {
    list-style-type: none;
    display: flex;
    margin: 2rem 0 1.5rem 0;
    justify-content: flex-end;

    li {
      margin-left: 2rem;

      a {
        text-decoration: none;
        color: $grey;
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
      }
    }
  }

  .menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;

    li {
      margin-left: 1rem;

      a {
        text-decoration: none;
        color: $darkgrey;
        font-size: 0.85rem;
        cursor: pointer;
        padding: 0.3rem 1rem;
      }
    }
  }

}