@import "../../scss/settings/colors";

.footer {
  height: 3rem;
  width: 50%;
  display: flex;
  justify-content: space-between;

  .copyright {
    font-size: 0.8rem;
  }


  .logo{
    display: flex;
    margin-right:11%;

    .facebook{
      background: url("../../assets/Facebook.svg") no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      background-size: contain;

    }

    .instagram {
      background: url("../../assets/Instagram.svg") no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      background-size: contain;
      margin-left: 1rem;
    }
  }
}