@import "../../../SCSS/settings/colors";
@import "../../../SCSS/settings/fonts";

@mixin backgroundLogo {
  width: 3rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}


.about {
  height: 38rem;

  .head {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  .main {
    height: 16rem;
    background-color: $white;

    .step_columns {
      margin: 0 15%;
      display: flex;
      justify-content: space-between;

      .step {

        .logo1 {
          @include backgroundLogo;
          background-image: url("../../../assets/Icon-1.svg");
        }

        .logo2 {
          @include backgroundLogo;
          background-image: url("../../../assets/Icon-2.svg");
        }

        .logo3 {
          @include backgroundLogo;
          background-image: url("../../../assets/Icon-3.svg");
        }

        .logo4 {
          @include backgroundLogo;
          background-image: url("../../../assets/Icon-4.svg");
        }
      }
    }
  }

  .foot {
    height: 12rem;

  }
}