.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1140px;
}

.decoration {
  background-image: url("../../assets/Decoration.svg");
  height: 2rem;
  width: 12rem;
  background-repeat: no-repeat;
  background-size: contain;
}