@import "../../scss/settings/colors";
@import "../../scss/settings/mixins";

.loginNav {
  margin-right: 10%;
}

.loginView {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  .loginForm {

    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: $darkgrey;

    span {
      font-size: 2rem;
      color: $darkgrey;

    }

    .deco {
      @include decoration;
    }

    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      font-size: 0.9rem;

      .errorMessage {
        font-size: 0.7rem;
        font-weight: bold;
      }

      .inputs {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: $white;

        .loginInput {
          width: 12rem;
          margin: 1rem 0 1rem 0;
          font-size: 0.9rem;
          font-weight: bold;


          input {
            margin-top: 1rem;
            font-size: 0.9rem;
            border-bottom: 0.1rem solid $grey;
            width: 100%;
            background: none;
          }

        }

      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .buttonStyle {
          &:hover {
            border: 0.0625rem solid $grey;
          }

          margin-top: 2rem;
          width: 6.5rem;
          height: 2.5rem;
          background: none;
          color: $darkgrey;
          font-size: 0.9rem;
          outline: none;
          text-decoration: none;

          a {
            text-decoration: none;
            color: $darkgrey;
          }

        }

      }
    }
  }
}