@import "../../../SCSS/settings/colors";
@import "../../../SCSS/settings/fonts";
@import "../../../SCSS/settings/mixins";


.home_header {
  height: 43rem;
  display: flex;
  margin-right: 10%;

    .background_image {
      width: 50%;
      background-image: url("../../../assets/Home-Hero-Image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -22rem;
    }

    .home {
      width: 50%;
      flex-direction: column;

      .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 4rem;


        h1 {
          @include header;
        }

        .decoration {
          @include decoration;
        }

        .button {
          margin-top: 2.5rem;
          display: flex;

          button {
            @include buttonGiveBack;
          }
        }
      }
    }
}


